.content-Container{
	margin: 10px;
}
.analysis-Container{
	background-color: #555;
	margin-bottom: 100px;
}
.analysis-text-Container{

	height: 50px;
	background-color: #eee;
	text-align:center;
}
.pane{
	background-color: #eee;
	height:100%;
}