{% extends "base.html" %}
{% block pagereqs %}
	<script type="text/javascript" src="static/js/analysis.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript" src="static/js/highslide/highslide.js"></script>
	<link rel="stylesheet" href="static/css/upload.css">
	<link rel="stylesheet" href="static/css/item-select.css">
	<script type="text/javascript">
		    // override Highslide settings here
		    // instead of editing the highslide.js file
		    hs.graphicsDir = 'static/js/highslide/graphics/';
	</script>
	<!-- <link href="static/css/bootstrap.min.css" rel="stylesheet"> -->
{% endblock %}
{% block content %}
	<h1>Data Analysis</h1>

	<div class="grid-container">

		<div class="grid-90 grid-parent">
				
			<div class="grid-100" id="analysis_visualize_tab">

			</div>
			
			<div class="text-center">
				<button id="analyze" class="green">Analyze</button>
			</div>
		</div>
	</div>
{% endblock %}