{% extends "base.html" %}
{% block pagereqs %}
	<script type="text/javascript" src="static/js/analysis.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript" src="static/js/highslide/highslide.js"></script>
	<link rel="stylesheet" href="static/css/upload.css">
	<link rel="stylesheet" href="static/css/item-select.css">
	<script type="text/javascript">
		    // override Highslide settings here
		    // instead of editing the highslide.js file
		    hs.graphicsDir = 'static/js/highslide/graphics/';
	</script>
	<!-- <link href="static/css/bootstrap.min.css" rel="stylesheet"> -->
{% endblock %}
{% block content %}
	<h1>Data Analysis</h1>

	<div class="tabs">
		<div class="tab active" id="tab-pattern">Mining Pattern</div>
		<div class="tab" id="tab-method">Method</div>
		<div class="tab active" id="tab-dataset">Dataset</div>
		<div class="tab" id="tab-visualize">Visualize</div>
	</div>

	<div class="grid-container">

		<div class="grid-90 grid-parent">

			<div class="grid-15 push-85">
				<h1>"Yo"</h1>
			</div>

			<div class="grid-85 pull-15">
				<div class="grid-100" id="analysis_pattern">

				</div>

				<div class="grid-100" id="analysis_method">
					
				</div>

				<div class="grid-100 dataset-chooser" id="analysis_data">
					
		    		<div class="dataset-chooser-item">
		                <div class="grid-75">
		    				<span class="title">Student Data - Regression</span>
		    				<span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>
		    				<input type="radio" name="dataset" value="student_data_r">
		    			</div>
		    			<div class="clear"></div>
		    		</div>

		    		<div class="dataset-chooser-item">
		                <div class="grid-75">
		    				<span class="title">Student Data - Classification</span>
		    				<span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>
		    				<input type="radio" name="dataset" value="student_data_r">
		    			</div>
		    			<div class="clear"></div>
		    		</div>
				</div>
				
				<div class="grid-100" id="analysis_visualize">

				</div>
				<div class="text-center">
					<button id="analyze" class="green">Analyze</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}