{% extends "base.html" %}

{% block pagereqs %}
	<!-- Resources specific to this page -->
	<script src="static/bower_components/skrollr/dist/skrollr.min.js"></script>
	<script src="static/js/home.js"></script>
	<link rel="stylesheet" href="static/css/home.css">
{% endblock %}


{% block skrollrbodystart %}
	<div id="skrollr-body">
{% endblock %}

{% block herounit %}
	<div id="top" data-top="bottom: 0px; opacity: 1;" data-top-bottom="bottom: -350px; opacity: .3;">
		<div class="grid-container">
			<div class="grid-100">
				<div id="title-main">
					<h1>Fifty</h1>
					<h2>A web based data mining platform</h2>
					<a href="https://github.com/steffanboodhoo/DataMiningProject" class="button">
						<i class="fa fa-code-fork"></i>&nbsp; Source
					</a>
					<a href="/selection" class="button red">
						<i class="fa fa-magic"></i>&nbsp; Analyze
					</a>
					<a href="/upload" class="button gray">
						<i class="fa fa-cloud-upload"></i>&nbsp; Upload
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="insignia">
		<div class="firefox-hack"><div id="version-intro">Version</div><div id="version">1.1</div></div>
	</div>

	<section style="padding-top: 0;">

		<div class="grid-container">
			<div class="grid-100">
				<h3>Features</h3>
			</div>
		</div>

		<div id="ticker">
			<div class="ticker-item">
				Regression and classification models
			</div>
			<div class="ticker-item">
				Upload your datasets as csv or paste plain text for analysis
			</div>
			<div class="ticker-item">
				Download results as a chart or as raw data
			</div>
			<div class="ticker-item">
				Contribute to our datasets
			</div>
			<div class="ticker-item">
				Find value within your data
			</div>
		</div>

		<div class="grid-container">					
			<div class="grid-33">
				<li>Yea</li>
				<li>Yea</li>
				<li>Yea</a></li>
				<li>Yea</li>
			</div>
			<div class="grid-33">
				<li>Yea</li>
				<li>Yea</li>
				<li>Yea</li>
				<li>Yea</li>
			</div>
			<div class="grid-33">
				<li>Yea</li>
				<li>Yea</li>
				<li>Yea</li>
				<li>Yea</li>
			</div>

			<div class="clear"></div>

			<br>
			<br>
		</div>
	</section>

	<section>
		<div class="grid-container narrow-grid">
			<div class="grid-100">
				<h4>Usage</h4>

				<p>Analyze all the things</p>
			</div>
		</div>
	</section>
{% endblock %}

{% block skrollrbodyend %}
	</div>
{% endblock %}