{% extends "base.html" %}

{% block pagereqs %}
	<script src="static/bower_components/papaparse/papaparse.min.js"></script>
	<link rel="stylesheet" href="static/css/upload.css">
	<script src="static/js/upload.js"></script>
{% endblock %}

{% block content %}
	<h1>Data Upload</h1>

	<div class="tabs">
		<div class="tab active" id="tab-string">String</div>
		<div class="tab" id="tab-local">Local File(s)</div>
		<div class="tab" id="tab-remote">Remote File</div>
	</div>

	<div class="grid-container">

		<div class="grid-25">
			<form action="">
				<label for="training">Set as Training data</label>
			  	<input type="radio" name="dataset_purpose" id="training" value="Training"><br>
			  	<label for="testing">Set as Testing data</label>
			  	<input type="radio" name="dataset_purpose" id="testing" value="Testing"><br><br>
			</form>
			<label>
				<input type="checkbox" id="regression"> Regression
				<dfn>Predicting a continuous-valued attribute associated with an object. [Numerical]</dfn>
			</label>

			<label>
				<input type="checkbox" id="classification"> Classification
				<dfn>Identifying to which category an object belongs to.</dfn>
			</label>

			<label>
				<input type="checkbox" id="clustering"> Clustering
				<dfn>Automatic grouping of similar objects into sets.</dfn>
			</label>
		</div>

		<div class="grid-75 grid-parent">

			<div class="grid-33 push-66">
				<label>
					<input type="checkbox" id="dynamicTyping"> Dynamic typing
					<dfn>Turns numeric data into numbers and true/false into booleans.</dfn>
				</label>
				<label>
					Name:<input type="text" id="dataset_name" size="7" placeholder="default">
					<dfn>Identifier for the dataset</dfn>
				</label>

				<label>
					Subject:<input type="text" size="7" id="dataset_subject" placeholder="default">
					<dfn>Enter the domain to which the dataset belongs. Eg. Student Data</dfn>
				</label>
				
				<label>
					Delimiter:<input type="text" size="4" maxlength="1" placeholder="auto" id="delimiter"><a href="javascript:" id="insert-tab">tab</a>
					<dfn>The delimiting character. Usually comma or tab. Default is comma.</dfn>
				</label>
				<label>
					Comment char:<input type="text" size="7" maxlength="10" placeholder="default" id="comments">
					<dfn>If specified, skips lines starting with this string.</dfn>
				</label>
			</div>

			<div class="grid-66 pull-33">
				<div class="input-area" id="input-string">
					<textarea id="input" placeholder="String input">wk1,wk2,wk3,sec1,sec2
4,3,3,14,13
4,4,3,13,14
4,3,1,17,12
3,2,1,11,11
5,3,2,16,15
6,5,4,17,18
6,5,4,17,16
5,4,1,13,15
5,4,1,14,14
3,3,2,14,15
4,2,2,16,16
5,2,1,15,13</textarea>
				</div>
				<div class="input-area" id="input-local">
					
					<div class="text-center">
						Choose one or more delimited text files for Papa to parse.
					</div>

					<input type="file" id="files" multiple>
				</div>
				<div class="input-area" id="input-remote">
					
					<div class="text-center">
						Type the URL of the file to be downloaded and parsed.
						<br>
						<small>(cross-origin requests require Access-Control-Allow-Origin header)</small>
					</div>

					<input type="text" id="url" placeholder="URL">
				</div>
				<div class="text-center">
					<button id="submit" class="green">Upload</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}